html {background-color: black; display: inline;}

#myHeader {
    background-color: lightblue;
    color: black;
    padding: 20px;
    text-align: center;
    font-family: var(--bs-body-font-family)
}

#InstrumentsTitle {
    position: absolute;
    left: 46%; 
    color: #C6C6C6; 
    text-decoration: 
    underline;
}

#Instruments {
    position: absolute;
    left: 43%; 
    top:150px; 
    color: #C6C6C6; 
    font-size: 20px; 
    line-height: 26px;
}

#Replink {
    bottom: 80px; 
    position: absolute;
    left:46.2%;
}

#thelink {
    bottom: 50px; 
    position: absolute;
    left:45.5%;
}

a {
    color: #2a9fd6;
}

a:hover {
    color: #0000FF;
}

@media (min-device-width: 375px) and (max-device-width: 812px) {
    #InstrumentsTitle {
        position: absolute;
        left: 34%; 
        color: #C6C6C6; 
        text-decoration: underline;
    }
}